header {
  background-color: #290418; }

main {
  background-color: #505217; }

footer {
  background-color: #FFD372; }

.estilo-centrado {
  background-color: #caf008;
  text-align: center;
  font-size: 14px; }

.boton, .boton--secundario, .boton--cancelar {
  width: 100px;
  height: 25px;
  background-color: #505217;
  text-align: center;
  border: 1px solid red; }

.boton--secundario {
  background-color: #FFD372; }

.boton--cancelar {
  background-color: #290418; }
